<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="htconfigslyt.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RCP Perspective"
            class="htconfigslyt.Perspective"
            id="htconfig-slyt.perspective">
      </perspective>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="htconfig-slyt.application"
            name="htconfig">
         <property
               name="appName"
               value="htconfig">
         </property>
      </product>
   </extension>

</plugin>
